@charset "utf-8";
body,html{ height: 100%;}
textarea{color: #333333;font-size: 17px;font-family: Microsoft YaHei, Helvetica, sans-serif;}
body{ padding:0px; margin:0px; font-size:20px; color:#FFFFFF;text-shadow:1px 1px 0px rgb#333333; font-family: Microsoft YaHei, Helvetica, sans-serif;}
*{ padding:0; margin:0;}
img { border-style: none; margin:0; padding:0;}
.show{display: block;}
.hide{display: none;}
.f-body{ position: absolute; left: 5px; right: 0px; top: 107px; bottom: 5px; background: #f5f5f5; overflow: auto; z-index: 1000}
.f-item{ width: 100%; height: 100%;}
.f-frame{ width: 100%; height: 100%; border: 0; outline: 0;}
/*æ ‘*/
.TreeListWrapper{ width: auto; height: auto;position: relative;} 
.TreeList{ min-width: 100px; min-height: 20px; position: relative; padding-left: 16px;}
.TreeList-line{ position: absolute; width: 1px; top: 20px; bottom: 0px; left: 22px; background:url(../images/tree-line.png); background-repeat:repeat-y;}
.TreeList-lineShu{ position: absolute; width: 1px; top: 0px; bottom: 0px; left: 21px; background:url(../images/tree-line.png); background-repeat:repeat-y;}
.TreeList-lineShuEnd{ position: absolute; width: 1px; top: 0px; bottom: 10px; left: 21px; background:url(../images/tree-line.png); background-repeat:repeat-y;}
.TreeList-lineEnd{ float:left; width: 8px; height: 20px; background:url(../images/tree-lineEnd.png) no-repeat; margin-left: 7px;}
.TreeList-top{ width: 100%; height: 20px;position: relative;}
.TreeList-old{ float: left; padding-top: 5px; width:10px; height:10px; cursor: pointer; margin-right: 5px;}